.calendarWrapper {
    max-width: 1024px;
    max-height: 960px;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0;
    grid-gap: 1px;
    background-color: #404040;
}

.cellWrapper {
    background-color: #1A1C1E;
    color: #DDDCDD;
    min-width: 120px;
    min-height: 80px;
}

.weekend {
    background-color: #212325;
}

.dayWrapper.today {
    background-color: crimson;
    border-radius: 50%;
    opacity: 90%;
}

.dayWrapper {
    display: flex;
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;
}

.weekdaysWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 10px;
}

.weekday {
    display: flex;
    justify-content: flex-end;
}

.rowInCell {
    display: flex;
    justify-content: flex-end;
}

.cellWrapper:hover {
    background-color: darkcyan;
}