.gridWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0;
    grid-gap: 1px;
    background-color: #404040;
}

.cellWrapper {
    background-color: #1e1f21;
    color: #DDDCDD;
    min-width: 140px;
    min-height: 80px;
}

.dayWrapper {
    display: flex;
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;
}

.weekdaysWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.weekday {
    display: flex;
    justify-content: flex-end;
}

.rowInCell {
    display: flex;
    justify-content: flex-end;
}

.cellWrapper:hover {
    background-color: darkcyan;
}