.headerWrapper {
    display: flex;
    padding-left: 2vw;
    justify-content: space-between;
    margin-right: 25px;
}

.header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #27364B;
    margin-left: 2rem;
}

b.headerMonth {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    color: #27364B;
}

.button {
    border: unset;
    background-color: #565759;
    height: 20px;
    margin-right: 2px;
    border-radius: 4px;
    color: #E6E6E6;
}

.todayButton {
    padding-right: 16px;
    padding-left: 16px;
    font-weight: bold;
}

.buttonsWrapper {
    display: flex;
    align-items: center;
}