.calendarWrapper {
    max-width: 100vw;
    height: 100vh;
    margin-left: 7vw;
    margin-right: 4vw;
    --cell-height: 11.7vh;
    --cell-width: 8vw;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0;
    grid-gap: 1px;
    flex: 1;
    margin-right: 11px;
}


.cellWrapper {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: var(--cell-height);
    width: var(--cell-width);
    min-height: 100%;
}

.rowInCell {
    position: relative;
    align-self: flex-end;
    margin-left: auto;
    margin-top: auto;
}

.cellWrapper.beforeToday {
    background: #F8F8F8;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.dayWrapper {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: minmax(12px, 2rem);
    line-height: 25px;
    color: #BD93E1;
}

.dayWrapper.today {
    width: 25px;
    height: 25px;
    background-color: #F8F8F8;
    border-radius: 10px 0px 10px 0px;
}

.weekday {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0F1A2A;
    align-items: center;
}


.cellWrapper:hover {
    transition: 0.7s;
    transform: scale(1.2);
    background: #FFFFFF;
    box-shadow: 0px 0px 15px #BD93E1;
    border-radius: 10px;
}

.cellWrapper.today {
    background: #BD93E1;
    box-shadow: 0px 0px 15px #BD93E1;
}


.verticalLineWrapper {
    display: flex;
}

.verticalLine {
    display: flex;
    position: relative;
    top: var(--cell-height);
    width: 4px;
    margin-right: 25px;
    background: #BD93E1;
    height: calc(6 * var(--cell-height) + 6px);
}

.pickedDate {
    display: flex;
    flex-direction: column;
    height: calc(6 * var(--cell-height) + 6px);
    margin-right: 25px;
    position: relative;
    top: var(--cell-height);
    width: 26vw;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.pickedDate h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #27364B;
}

.taskAddingButton {
    display: flex;
    background: #FFFFFF;
    border-radius: 60px;
    width: 100%;
    max-height: 24px;
    color: #64748B;
    margin: 5px 0 0 5px;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    transition-duration: 0.5s;
}

.taskAddingButton:hover {
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
}

.addButtonText {
    margin: 0;
    padding: 0;
    border: 0;
}

.taskAddingButton::before {
    content: '+';
    font-size: 2em;
    color: #BD93E1;
    transition-duration: 0.5s;
}

.taskAddingButton:hover:before {
    transform: rotate(90deg);
}